.padding-0 {
    padding:0 0 0 0 !important;
}

.background-box {
    box-sizing: content-box;
    background-color: #ffffff

}

.icon-padding-calculator {
    padding-left: 25px;
}


@media screen and (max-width: 720px) {

    .calc-resize {
        font-size: 18px !important;
        overflow: hidden;
    }

    .icon-padding-calculator {
        padding-left: 0px
    }


}



@media screen and (min-width: 720px) {

    .calc-resize {
        
        width: 45% !important
    }


}



